h3 {
    font-weight: bold;
}

button {
    background-image: url("../../assets/icons/baseline-add-24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 50px;
    bottom: 50px;
}

mat-grid-tile {
    background: #3f51b5;
    color: white;
    overflow: scroll;
}

mat-grid-list{
    margin-top: 10px;
}

a {
    color: white;
    position: absolute;
    top: 20px;
    left: 20px;
}