button {
    background-image: url("../assets/icons/baseline-arrow_back-24px.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
}

.title{
    margin-left: 10px;
    color: #3f51b5;
    font-size: 23px;
}